.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 5vh;
    min-width: 5vw;
    width: max-content;
    background-image: linear-gradient(to right top, #f5f5f5, #e2e2e2, #d0cfd0, #bebdbd, #acabab);
    border: 2px solid white;
    border-radius: 10px;
    font-size: large;
    transition: .5s;
}

.button:hover{
    /* background-image: linear-gradient(to right top, #000000, #41101d, #800929, #c10029, #ff0017); */
    background-image: linear-gradient(to right top, #000000, #2c2b2b, #555453, #81807e, #aeafac);
    color: #f5f5f5;
    border: 2px solid black;
}