.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.427);
    border-radius: 5px;
}